/* EVERYTHING FOR BASIC STUFF */

body {
    background-image: url('https://wallpapers.com/images/hd/summer-beach-background-wfhrz1qvcg2304h7.jpg');
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    /* for responsive button wrapping purposes */
    background: linear-gradient(to bottom, lightgreen, #43773c);
    justify-content: center;
    outline: 2px solid green;
    border-radius: 20px;
}
  
.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.apraksts {
    font-size: 15px;
    text-align: center;
}

.upper_menu {
    background: linear-gradient(to right, green, rgb(0, 69, 0));
    border-radius: 10px;
    padding: 1px;
    outline: 2px solid black;
    justify-content: space-between;
    display: flex;
    
    button {
        font-family: cursive;
        background: linear-gradient(to right, lightgreen, rgb(107, 177, 107));
        justify-content: center;
        flex-grow: 1;
    }
}

.darkmodebutton {
    display: flex;
    justify-content: right;
    
    button {
        background: linear-gradient(to right, rgb(60, 71, 60), rgb(28, 33, 28));
        color: white;
    }
}

.website-icon {
    max-width: 50px; /* Set the size for the images */
    height: auto;
    border-radius: 10px;
    outline: 1px solid black;
}

.button-container {
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers buttons horizontally */
    align-items: center; /* Centers buttons vertically */
}

button {
    background-color: lightgreen;
    color: black;
    padding: 5px 20px;
    cursor: pointer;
    margin: 2px;
    font-size: 20px;
}


.improvision {
    background: linear-gradient(to right, #85e978, #43773c);
    outline: 2px solid green;
    border-radius: 20px;
    width: 100%;
    padding: 0 10px;
    font-family: cursive;
}

.flex-container button {
    background-color: #FFFFFF; /* Green background */
    color: black; /* White text */
    padding: 10px 30px; /* Padding */
    border-color: green;
    border-radius: 20px;
    cursor: pointer; /* Pointer cursor */
    font-size: 16px; /* Font size */
    margin: 20px; /* Margin between buttons */

    img {
        border-radius: 20px;
    }
}

button:hover {
    transition: transform 0.1s ease;
    animation: hoverUp 0.5s forwards;
    box-shadow: 10px 10px 15px rgba(0, 0 , 0, 0.6);
}

.website-icon:hover {
    transition: transform 0.1s ease;
    animation: OtherHoverUp 0.5s forwards;
    box-shadow: 10px 10px 15px rgba(0, 0 , 0, 0.6);
}

.ORIGIN:hover {
    transition: transform 0.1s ease;
    animation: OtherHoverUp 0.5s forwards;
    box-shadow: 10px 10px 15px rgba(0, 0 , 0, 0.6);
}

.HOWTOWEBSITE:hover {
    transition: transform 0.1s ease;
    animation: OtherHoverUp 0.5s forwards;
    box-shadow: 10px 10px 15px rgba(0, 0 , 0, 0.6);
}

.elsestuff {
    border-radius: 10px;
    padding: 1px;
    justify-content: center;
    margin: 90px;
    display: flex;
}

.ORIGIN {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    /* for responsive button wrapping purposes */
    background: linear-gradient(to bottom, lightgreen, #43773c);
    justify-content: center;
    outline: 2px solid green;
    border-radius: 20px;
    padding: 0 10px;
    margin-right: 70px;

    p {
        font-family: cursive;
        text-align: center;
    }

    h1 {
        text-align: center;
    }
}

.HOWTOWEBSITE {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    /* for responsive button wrapping purposes */
    background: linear-gradient(to bottom, lightgreen, #43773c);
    justify-content: center;
    outline: 2px solid green;
    border-radius: 20px;
    padding: 0 10px;

    p {
        font-family: cursive;
        text-align: center;
    }

    h1 {
        text-align: center;
    }
}

.bottomthings {
    background: linear-gradient(to right, green, rgb(0, 69, 0));
    outline: 2px solid black;
    padding: 1px;
    justify-content: center;
    display: flex;

    p {
        color: white
    }
}

@keyframes hoverUp {
    0% {
        transform: translateY(0);
    } 100% {
        transform: translateY(-10px) scale(1.1);
    }
}

@keyframes OtherHoverUp {
    0% {
        transform: translateY(0);
    } 100% {
        transform: translateY(-10px) scale(1.05);
    }
}

@media (max-width: 800px) {
    body { background-image: url('https://wallpapers.com/images/hd/summer-beach-background-wfhrz1qvcg2304h7.jpg'); }
    .column {
        flex: 1 1 calc(50% - 5px);
        max-width: 100%;
    }
    .flex-container {
        flex: 1 1 calc(50% - 5px);
        max-width: 100%;
    }

}

@media (max-width: 600px) {
    body { background-image: url('https://wallpapers.com/images/hd/summer-beach-background-wfhrz1qvcg2304h7.jpg'); }
    .column {
        flex: 1 1 calc(100% - 5px);
        max-width: 100%;
    }
    .flex-container {
        flex: 1 1 calc(100% - 5px);
        max-width: 100%;
    }
}

/* EVERYTHING FOR DARK MODE */
body.dark-mode {
    background-image: url('https://i.pinimg.com/originals/2b/08/39/2b0839d3e737f91dfd01b2c6d4c203c5.jpg');
    color: #ffffff;
}

.dark-mode nav.upper_menu {
    background: linear-gradient(to right, #2c3e50, #34495e);

    button {
        background: linear-gradient(to bottom, #8091a1, #2e343a);
        color: rgb(255, 255, 255);
        padding: 5px 20px;
        cursor: pointer;
        margin: 2px;
        font-size: 20px;
    }

    .darkmodebutton {
        button {
            background: linear-gradient(to right, rgb(249, 255, 249), rgb(110, 110, 110));
            color: rgb(0, 0, 0)
        }
    }
}

.dark-mode .flex-container {
    background: linear-gradient(to bottom, #2c3e50, #34495e);
    outline: 2px solid #000000;
    border-radius: 20px;
}

.dark-mode .upper_menu button {
    color: #ffffff;
}

.dark-mode button {
    background-color: #a1a1a1;
    color: #000000;
}

.dark-mode .apraksts {
    color: #000000; /* Light grey description text */
}

.dark-mode img {
    filter: brightness(0.8); /* Darken images slightly */
}

.dark-mode .improvision {
    background: linear-gradient(to right, #2c3e50, #1b2732);
    outline: 2px solid #000000;
    border-radius: 20px;
}

.dark-mode .flex-container button {
    background-color: #FFFFFF; /* Green background */
    color: black; /* White text */
    padding: 10px 30px; /* Padding */
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer; /* Pointer cursor */
    font-size: 16px; /* Font size */
    margin: 20px; /* Margin between buttons */

    img {
        border-radius: 20px;
    }
}

.dark-mode .ORIGIN {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    /* for responsive button wrapping purposes */
    background: linear-gradient(to bottom, #1f2b38, #34495e);
    justify-content: center;
    outline: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 0 10px;

    p {
        font-family: cursive;
    }
}

.dark-mode .HOWTOWEBSITE {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    /* for responsive button wrapping purposes */
    background: linear-gradient(to bottom, #1f2b38, #34495e);
    justify-content: center;
    outline: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 0 10px;

    p {
        font-family: cursive;
    }
}

.dark-mode .bottomthings {
    background: linear-gradient(to right, #2c3e50, #1b2732);
    outline: 2px solid black;
    padding: 1px;
    justify-content: center;
    display: flex;

    p {
        color: white
    }
}

.dark-mode .search-button:hover {
    background-color: #9ea09c; /* Darker green on hover */
    color: white; /* Change text color */
}

/* EVERYTHING FOR DROPDOWN CONTENT */
.icon_n_more {
    position: relative; /* Ensure position is relative to position dropdown */
    list-style-type: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(to bottom, #f8f8f8, #838383);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.icon_n_more:hover .dropdown-content {
    display: block;
    outline: 1px solid black;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}

/* EVERYTHING FOR SEARCH BAR */
.search-container {
    display: flex;
    align-items: center; /* Aligns items vertically */
}

.search-bar {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    outline: 1px solid black;
}

.search-button {
    padding: 6px 10px;
    background-color: rgb(205, 238, 144);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: 1px solid black;
}

.search-button:hover {
    background-color: #66764c; /* Darker green on hover */
    color: white; /* Change text color */
}

/* EVERYTHING FOR DROPDOWN CONTENT STUFF */
@keyframes highlight {
    0% { background-color: yellow; }
    100% { background-color: inherit; }
}